<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/app.css">



</head>
<body>
<div class="topnav">
    <a href="/" th:text="#{allTasks}"></a>
    <a href="/tasks/new" th:text="#{newTask}"></a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="#{signOut}"/>
    </form>
</div>
<div style="text-align: right;">

        <a href="#" class="lang" value="en" th:text="#{lang.en}"></a>
        <a href="#" class="lang" value="nl" th:text="#{lang.nl}"></a>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".lang").click(function(){
            window.location.replace(window.location.pathname + '?lang=' + $(this).attr("value"));
        });
    });
</script>
</html>
